version: "3.9"

services:
  api:
    build: .
    env_file: .env
    depends_on:
      - mongo
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017
  mongo:
    image: mongo:7
    container_name: roommate_mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: roommate
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
  mongo-express:
    image: mongo-express:1.0.2-20
    restart: always
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    ports:
      - "8081:8081"

volumes:
  mongo_data:
